@model GTE.Mastery.ShoeStore.Web.Models.ErrorViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <hgroup>
        <h1 style="color:black">@Model.ErrorCode - @Model.ErrorMessage</h1>
    </hgroup>
</body>
</html>
