<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="d:\lab_temp\internal-nlog-Mastery-KeeFi.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<target xsi:type="File" name="fileInfo" fileName="d:\lab_temp\nlog-Mastery-KeeFi-info-${shortdate}.log"
		   layout="${longdate}|${processid}|${threadid}|${level:uppercase=true}|${logger}|${message}" />

		<target xsi:type="File" name="fileError" fileName="d:\lab_temp\nlog-Mastery-KeeFi-error-${shortdate}.log"
		   layout="${longdate}|${processid}|${threadid}|${level:uppercase=true}|${logger}|${exception}| Stacktrace: ${stacktrace}" />

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
		
	</targets>

	<rules>

		<logger name="Mastery.KeeFi.Business.Services.DocumentsContentService" minLevel="Error" writeTo="fileError"/>
		<logger name="Mastery.KeeFi.Business.Services.DocumentsContentService" levels="Info,Warn" writeTo="fileInfo"/>		

		<logger name="Mastery.KeeFi.Business.Services.ClientsService" minLevel="Error" writeTo="fileError"/>
		<logger name="Mastery.KeeFi.Business.Services.ClientsService" levels="Info,Debug" writeTo="fileInfo"/>

		<logger name="Mastery.KeeFi.Business.Services.DocumentsMetadataSercice" minLevel="Error" writeTo="fileError"/>
		<logger name="Mastery.KeeFi.Business.Services.DocumentsMetadataService" levels="Info" writeTo="fileInfo"/>
		
	</rules>
	
</nlog>