<div class="contact-header">
    <p>Welcome to ShoeStore</p>
</div>
<div class="contact-body">
    <p>Country: Poland</p>
    <p>City: Bialystok</p>
    <p>Address: ul. Meksykańska, 84, l. 2</p>
    <p>Phone number: +48796147133</p>
    <p>Email: yagormolchan@gmail.com</p>
</div>


