<div class="contact-header">
    <p>Welcome to ShoeStore</p>
</div>
<div class="contact-body">
    <p>Country: Poland</p>
    <p>City: Bialystok</p>
    <p>Address: ul. Nowa, 84, l. 2</p>
    <p>Phone number: +48123567121</p>
    <p>Email: milijchelovek@gmail.com</p>
</div>


